{% extends 'base.html' %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"/>

{% block title %}Create user{% endblock %}
{% block content %}

    <b>Create a user account</b>
    <br><br>
  <form enctype="multipart/form-data" action="{% url 'dictionary:add_user'%}" method="post">
      {% csrf_token %}
      <div class="createUser">
          <div class="file-field input-field">
            <div class="btn">
                <span>Load your profile picture</span>
                <input type="file" name="image">
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
            </div>
          </div>
              {% if messages %}
                <ul class="messages" style="color:red;font-style: italic">
                    {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
               {% endif %}
          <input type="text" class="validate" required placeholder="Your name" name="name">
          <button class="btn" type="submit">Save</button>
      </div>
  </form>
{% endblock %}