{% extends 'base.html' %}

{% block title %}
Learn 1
{% endblock %}

{% block content %}
{% if word%}
    <div class="col" style="padding:10px;display:inline-block">
        <div class="z-depth-3" style="width:700px;max-height:700px;padding:10px">
            {% if method_nr == 1 %}
                <div class="row"><img src={{word.image.url}} style="width:auto;max-width:650px;height:400px"></div>
                <div class="row" style="margin:0px">
                    <p style="color: #00695c;">{{word.german_word}}</p>
                    <audio src={{word.german_pronunciation.url}} controls></audio>
                </div>
            {% elif method_nr == 2 %}
                 <div class="row" style="margin:0px;margin-top:15px">
                    <p style="color: #00695c;">{{word.russian_word}}</p>
                     <audio src={{word.russian_pronunciation.url}} controls></audio>
                </div>
            {% endif %}

            <div class="row" style="margin:0px">
                <div class="col s6" style="text-align:left">
                    <form action="{% url 'dictionary:show_result_by_unknowing2' word.id method_nr%}" method="post">
                        {% csrf_token %}
                        <button class="btn" type="submit" style="width:200px;height:auto">
                            I don't remember
                            <i class="material-icons" type="submit" style="margin-left:3px;">thumb_down</i>
                        </button>
                    </form>
                </div>

                <div class="col s6" style="text-align:right">
                    <form action="{% url 'dictionary:show_result_by_knowing2' word.id method_nr%}" method="post">
                        {% csrf_token %}
                        <button class="btn" type="submit" style="width:200px;height:auto">
                            I remember
                            <i class="material-icons" type="submit" style="margin-left:5px;">thumb_up</i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

        {% else %}
        <p align="center" style="margin-top:200px">You do not have any vocabulary</p>
        {% endif %}
{% endblock %}